<!DOCTYPE html>
<html style="font-family:Arial;">

<head>
    <title>Meetup</title>
	<meta charset="utf-8" />
    <style>
        @import url('../CSS/main page.css');
    </style>

</head>

<body>
    <header>
        <img class="pic" src="../pictures/meetup1.png" />
    </header>
    <div class="page">
        <h1>Your calendar for the week of <mark class="h1Only">May 16</mark></h1>

        <h4 style="font-size:19px; color:#8e8e8e;">
            Hi Chris Dawson, here's what Meetup looks like for you this week.
        </h4>

        <div class="todayMeetups">
            <h2 class="heading">Your Meetups</h2>
            <h2 class="subHeading">Wednesday <mark>May 18</mark></h2>
            <img class="mainPic" src="../pictures/meetup7.png" />
            <aside>
                <div class="right">
                    <label>Developer User Group</label>
                    <h3>PTA: Taming Monolith using a Reactive Architecture/ Elixir & Eriang platform</h3>
                    <p style="color:black;">Wednesday, 6:00 PM <mark>May 18</mark></p>
                    <img class="thumbnails" src="../pictures/meetup (1).png" />
                    <p><b>36 Software Developers</b></p>
                </div>
            </aside>
        </div>
        <div class="followingDay">
            <h2 class="heading">Top Meetups fou you</h2>
            <div class="right2">
                <h2 class="subHeading">Tech</h2>
                <img class="mainPic" src="../pictures/meetup.png" />


                <label>Lean Analytics - ORRSA JHB</label>
                <h3>Bring topics and questions and enjoy the discussion</h3>
                <p style="color:black;">Wednesday, 7:30 AM <mark>May 18</mark></p>
                <img class="thumbnails" src="../pictures/meetup (2).png" />
                <p><b>5 Members</b></p>
                <br />
            </div>

            <div class="right2">
                <img class="mainPic" src="../pictures/meetup2.png" />

                <label>Code&Coffee JHB</label>
                <h3>Code&Coffee: Code, Learn, Share</h3>
                <p style="color:black;">Thursday, 12:00 PM <mark>May 19</mark></p>
                <img class="thumbnails" src="../pictures/meetup (3).png" />
                <p><b>3 Developers</b></p>
                <br />
            </div>
            <div class="right2">
                <img class="mainPic" src="../pictures/meetup.png" />

                <label>Eastrand Developers Meetup</label>
                <h3>Meet to discuss code, solve problems together and learn over a good coffee</h3>
                <p style="color:black;">Friday, 12:30 PM <mark>May 20</mark></p>
                <img class="thumbnails" src="../pictures/meetup (4).png" />
                <p><b>2 Developers</b></p>
                <br />
            </div>
            <div class="right2">
                <img class="mainPic" src="../pictures/meetup3.png" />

                <label>QA in Braam(Johannesburg)</label>
                <h3>Test Driven Development</h3>
                <p style="color:black;">Saturday, 10:00 AM <mark>May 21</mark></p>
                <img class="thumbnails" src="../pictures/meetup (5).png" />
                <p><b>21 Saviors</b></p>
                <br />
            </div>
            <div class="right2">
                <img class="mainPic" src="../pictures/meetup4.png" />

                <label>Gauteng Python Meetup</label>
                <h3>The Big Fat Python Grind Weekend @ JoziHub</h3>
                <p style="color:black;">Saturday, 10:00 AM <mark>May 21</mark></p>
                <img class="thumbnails" src="../pictures/meetup (6).png" />
                <p><b>4 Pythonisatas</b></p>
                <br />
            </div>
            <div class="right2" style="border-bottom-style:hidden;">
                <img class="mainPic" src="../pictures/meetup5.png" />

                <label>Learn To Trade ZA</label>
                <h3>Free Forex Traiding Workshop - Sandton</h3>
                <p style="color:black;">Saturday, 10:00 AM <mark>May 21</mark></p>
                <img class="thumbnails" src="../pictures/meetup (7).png" />
                <p><b>6 Future Traders</b></p>
                <br />
                <br />
            </div>
            <hr />
            <div class="right">

                <h2 class="subHeading">Socializing</h2>

                <img class="mainPic" src="../pictures/meetup6.png" />

                <label>Joburg Connect</label>
                <h3>Friday movie: X-Men: Apocalypse - 3D (Monte Casino)</h3>
                <p style="color:black;">Friday, 7:00 PM <mark>May 20</mark></p>
                <img class="thumbnails" src="../pictures/meetup (8).png" />
                <p><b>36 Connectors</b></p>
                <br />
            </div>
        </div>
    </div>
    <div class="page">
        <h3 style="text-align:center;">See all Meetups in your area </h3>
        <br />
        <p style="color:#8e8e8e; float:left; font-size:11px;">
            You might like these  Meetups based on your interest in: <mark style="color:#3f8bcc">Agile Project Management, Startup Businesses, New Technology, Cloud Computing, Big Data</mark> and <mark style="color:#3f8bcc">7 more topics. Manage your interests</mark>
        </p>
    </div>
    <br />
   
    <h3 style="text-align:center; color:black;">Never miss a last-minute change. Get the app.</h3>
    
        <footer>
            <img class="pic2" src="../pictures/meetupappstore.png" />
            <img class="pic3" src="../pictures/meetupgoogleplay.png" />
            <br />
           
        
    </footer>
    <br />
    <div>
        <p style="font-size:11px; margin:50px 300px 0px 300px;">You're getting this message because your Meetup is connected to this email address.</p>
        <br />
    </div>
</body>
</html>
